{% extends 'layout.html' %}

{% block body %}
    <div class="container">
        <br><br>
        <form action="#" method="POST" enctype="multipart/form-data">
            <div class="input-group">
                <input type="file" class="form-control" name="image_name" required>
                <input type="submit" value="télecharger" class="btn btn-outline-secondary">
            </div>
        </form>
    </div>

    {% if télecharger %}
        <div class="container">
            <br><br>
            <table>
                <tr>
                    <td>
                        <img class="rounded float-left img-fluid" src="{{ original_image }}" alt="Original Image">
                    </td>
                    <td>
                        <img class="rounded float-right img-fluid" src="{{ processed_image }}" alt="Processed Image">
                    </td>
                </tr>
            </table>
            <br>
            <table style="border: solid black; width: 100%;">
                <tr style="border: solid black;">
                    <th> Déchets détectés ! 🕵️‍♂️🗑️ : {{ no }}</th>
                </tr>
                
                {% for label in text %}
                    <tr style="border: solid black;">
                        <td style="background-color: greenyellow;">
                            <p class="display-8"> {{ label }}</p>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    {% endif %}
{% endblock %}
